code/CardsAR/Temp
code/CardsAR/Library
code/CardsAR/Build
.DS_Store
words/.DS_Store
*log.txt
*.log
*.log
*.txt
code/CardsAR/Build*
code/CardsAR/Assets/Agora-RTC-Plugin
code/Builds/*code/CardsAR/Assets/Unity Store/GUIPack-Clean&Minimalist
